<app-navbar></app-navbar>

<div class="container">
    <div class="row">
       <div class="col-md-12">
           <h1>{{cat_name}} Products</h1>
       </div>
           <div class="col-md-3 mb-3" *ngFor="let row of products">
               <div class="card" routerLink="/product-details/{{row.product_tbl_id}}">
                   <div class="card-header p-2">
                       {{row.product_name}}
                   </div>
                   <div class="card-body p-0">
                       <img [src]="row.product_img" width="100%">
                       
                   </div>
                   <div class="card-footer">
                      &#8377; {{row.price}} /-
                   </div>
               </div>
           </div>
   </div>
</div>